section {
    height: 20vh;

}
/* cabecalho */
.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100rem;
    max-height: 100vh;
    background-color: rgb(0, 145, 145);
    /* background-image: url(../img/perfil.jfif); */
}
.img-perfil {
    background: white;
    height: 300px;
    border-radius: 100%;
}

.theme h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 7rem;
}

.theme h2 {
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    padding-bottom: 10px;
}

.content {
    width: 70%;
    padding: 20px;
    min-width: 320px;
    height: -moz-fit-content;
    height: max-content;
    margin: auto;
}

.theme {
    text-align: center;
    color: white;
    width: 30vw;
    height: 100px;
}

h2 {

    font-size: 3rem;
}
